
body{
    display:flex;
    flex-wrap: wrap;
    align-items: center; 
    flex-direction: column;
    background-color: aqua;
}

#gifs{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

#gameButtons{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
    width: 50%;
}

h2{
    margin-top: 1rem;
    margin-bottom: 0;
}